<h3>Bem vindo ao App!</h3>

Hello {{ user.fullName }}! Você se registrou no app!

Por favor, confirme seu cadastro clicando
<a href="{{ url('security_confirm', {'token': user.confirmationToken }) }}">
	neste link.
</a>

Obrigado!